body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f0a8; /* Fundo amarelo */
    margin: 0;
    padding: 0;
    color: #000000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container__caixa {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px rgba(255, 255, 255, 0.1);
}

.container__titulo {
    font-size: 3.5em;
    color: #e7ce40; /* Cor verde */
}

.container__imagem {
    max-width: 100%;
    height: auto;
    margin: 50px 0;
}

.container__botao {
    display: inline-block;
    padding: 10px 20px;
    margin: 30px 0;
    background-color: #7e741e; /* Cor verde */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.botao_secundario {
    background-color: #f1d039; /* Cor verde claro */
}

.container__aviso {
    font-size: 0.9em;
    color: #777;
}

.secundario__imagem {
    max-width: 100%;
    height: auto;
    margin: 5px 0;
}

.container__descricao {
    text-align: left;
    padding: 20px;
}

.descricao__titulo {
    font-size: 2em;
    color: #e7bf75; /* Cor verde */
}

.descricao__texto {
    font-size: 1.1em;
    color: #555;
}

.dispositivos {
    text-align: center;
    padding: 20px 0;
}

.dispositivos__titulo {
    font-size: 2em;
    color: #e6bf56; /* Cor verde */
}

.dispositivos__lista {
    list-style: none;
    padding: 0;
}

.dispositivos__lista li {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.lista__item {
    font-size: 1.2em;
    color: #555;
}

.rodape {
    background-color: #ecde9d; /* amarela */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.rodape__logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.rodape__lista {
    list-style: none;
    padding: 0;
}

.rodape__lista li {
    display: inline-block;
    margin: 0 10px;
}

.lista__link a {
    color: #fff;
    text-decoration: none;
}

.rodape__texto {
    font-size: 0.9em;
    color: #fff;
    margin: 10px 0 0;
}